body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #3366cc;
}

div {
    margin-top: 20px;
}

label {
    font-size: 18px;
}

button {
    padding: 5px 10px;
    font-size: 16px;
    color: #fff;
    background-color: #3366cc;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}